<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add New Vehicle to Apartment <%= apartment.number %></h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>/vehicles" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Brand" name="vehicle[brand]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Model" name="vehicle[model]">
                </div>    
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Plate" name="vehicle[plate]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Color" name="vehicle[color]">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                </div>
            </form>
            <a href="/vehicles">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>