<% include partials/header %>

<h1>List of Condos</h1>

<a href="/condos/new">Add a New Condo</a>

<% condos.forEach(function(condo) { %>
<li> <a href="/condos/<%= condo._id %>">+ </a> <%= condo.name %> (<%= condo.address%>) - <strong><%= condo.towers %></strong> </li>
<% }) %>

<% include partials/footer %>