<% include partials/header %>

<h1>New Condo</h1>
<form action="/condos" method="post">

<input type="text" name="name" placeholder="Name">
<input type="text" name="towers" placeholder="Number of Towers">
<input type="submit" value="Submit">

</form>

<a href="/condos">Go Back</a>

<% include partials/footer %>