<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Registre-se!</h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <label>Usuário</label>
                    <input class="form-control" type="text" placeholder="Usuário" name="username" autofocus>
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input class="form-control" type="password" placeholder="Senha" name="password">
                </div>    
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Registrar-se">
                </div>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>