<% include partials/header %>

<h1><%= condo.name %></h1>

<h3><%= condo.address %></h3>

<h4>Number of Towers: <%= condo.towers %></h4>

<a href="/new-tower">Add New Tower</a>

<a href="/condos">Go Back</a>

<% include partials/footer %>