<% include partials/header %>

<h1><%= condo.name %></h1>

<h3><%= condo.address %></h3>

<h4>Number of Towers: <%= condo.towers %></h4>

<a href="/towers">List of Towers</a> <br>
<a href="/towers/new">Add New Tower</a> <br>
<a href="/condos">Go Back</a>

<% include partials/footer %>