<% include partials/header %>

<h1>List of Towers</h1>

<a href="/towers/new">Add a New Tower</a> <br>
<a href="/apartments">List of Apartments</a>

<% towers.forEach(function(tower) { %>
  <li><a href="/towers/<%= tower._id %>">+</a><strong>Tower: <%= tower.name %></strong>
    <li>Floors: <%= tower.floors %></li>
    <li>Apartments Per Floor: <%= tower.apartmentsPerFloor %></li>
    <br>
  </li>
<% }) %>

<% include partials/footer %>