<% include ../partials/header %>
    <div class="container">
        
        <h1>Análise de Tom</h1>
        <h3>Entenda como os moradores se sentem com a ajuda do<strong><a href="https://ibm.com/watson" target="_blank"> IBM Watson&trade;</a></strong></h3>


            <p><%= data.document_tone %></p>

    </div>

<% include ../partials/footer %>