<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add New Space to <%= condo.name %></h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/condos/<%= condo._id %>/spaces" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name" name="space[name]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Maximum Capacity" name="space[maxCapacity]">
                </div>    
                <div class="form-group input-group">
                    <span class="input-group-addon" id="real-addon">R$</span>
                    <input class="form-control" type="text" placeholder="Rent Price" name="space[price]" aria-describedby="real-addon">
                </div> 
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                </div>
            </form>
            <a href="/spaces">Go Back</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>