<% include ../partials/header %>
<div class="container">
    
    <h1><%= space.name %></h1>
    <h2>Maximum Capacity: <%= space.maxCapacity %></h2>
    <h2>Rent Price: <%= space.price %></h2>

    <a href="/condos/<%= condo_id %>/spaces">Go Back</a>

</div>

<% include ../partials/footer %>