<% include ../partials/header %>

<h1>Apartment number: <%= apartment.number %></h1>

<h3>Apartment floor: <%= apartment.floor %></h3>

<a href="/dwellers">List of Dwellers</a>
<a href="/apartments">Go Back</a>

<% include ../partials/footer %>