<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Criar Novo Morador no Apartamento <%= apartment.number %></h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/condos/<%= condo_id %>/towers/<%= tower_id %>/apartments/<%= apartment._id %>/dwellers" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Nome" name="dweller[name]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="cpf" placeholder="CPF" name="dweller[cpf]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="rg" placeholder="RG" name="dweller[rg]">
                </div>
                <div class="form-group">
                    <div class="input-group date" data-provide="datepicker">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                        <input class="form-control" type="text" id="date" placeholder="Data de Nascimento" name="dweller[birthday]">
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="phone" placeholder="Telefone" name="dweller[phone]">
                </div>

                <!-- user fields -->
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="E-mail" name="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Senha" name="password">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Enviar">
                </div>
            </form>
            <a href="/dwellers">Voltar</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>