<% include ../partials/header %>

<div class="container">

    <h1><%= dweller.name %></h1>

    <h3>CPF: <%= dweller.cpf %></h3>

    <a href="#">Go Back</a>

</div>

<% include ../partials/footer %>