<% include ../partials/header %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-building-o" aria-hidden="true"></i> Bem-vindo, <%= currentUser.username %>!</h1>
        <% if (currentUser.role === 'admin') { %>
          <p>Aqui você terá acesso a administração de seu condomínio</p>
        <% } else if (currentUser.role === 'lobby') { %>
          <p>Aqui você controlará a portaria de seu condomínio</p>
        <% } else { %>
          <p>Aqui você gerenciará seu apartamento</p>
        <% } %>

        <% condos.forEach(function(condo) { %>
          <% if (condo._id == currentUser.condoId) { %>
            <p>
              <a class="btn btn-primary btn-lg" href="/condos/<%= condo._id %>"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Ir para condomínio <%= condo.name %></a>
            </p>
          <% } %>
        <% }) %>
    </div>
  </header>

</div>

<% include ../partials/footer %>