<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h1>Novo Condomínio</h1>
            <div class="col-md-6">
                <h2>Dados do novo condomínio</h2>
                <form action="/condos" method="post">
                    <label>Nome</label>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Nome" name="condo[name]">
                    </div>
                    <label>Endereço</label>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Endereço" name="condo[address]">
                    </div>
            </div>
            <div class="col-md-6">
                <h2>Seus dados</h2>
                <!-- user fields -->
                <label>E-mail</label>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="E-mail" name="username">
                </div>
                <label>Senha</label>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Senha" name="password">
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" style="width: 30%; margin: 20px auto;" type="submit" value="Cadastrar">
            </div>
            </form>
        </div>
    </div>


    <% include ../partials/footer %>