<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Criar Novo Condomínio</h1>
        <div style="width: 30%; margin: 20px auto;">
            <form action="/condos" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Nome" name="condo[name]">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Endereço" name="condo[address]">
                </div>    
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Enviar">
                </div>
            </form>
            <a href="/condos">Voltar</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>