<% include ../partials/header %>

<h1>Tower <%= tower.name %></h1>

<h3><%= tower.floors %> Floors</h3>

<a href="/tower/<%= tower._id %>/edit">Edit Tower</a> <br>
<a href="/apartments">List of Apartments</a> <br>
<a href="/apartments/new">Add New Apartment</a> <br>
<a href="/towers">Go Back</a>

<% include ../partials/footer %>