<% include ../partials/header %>

<div class="container">

    <a href="/apartments">List of Apartments</a>
    
    <h1>Tower <%= tower.name %></h1>
    <h1><%= tower. apartmentsPerFloor %> apartments per floor</h1>

</div>

<% include ../partials/footer %>